@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg: #{"@theme_fg_color"};
$bg: #{"@theme_bg_color"};
$accent: #{"@theme_accent_color"};

$slider-color: $fg;

$animation-speed: 200ms;
$side-margins: .5em;
$radius: 1em;
  
icon {
  background-color: transparent;
  color: $fg;
}

.bottom-button {
  all: unset;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-bottom: .1em solid transparent;
  transition: border $animation-speed ease;

  &:hover {
    border-bottom: .1em solid $fg;
    border-radius: 0;
  }
}

.circle-button {
  all: unset;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: .1em solid transparent;
  transition: border $animation-speed ease;

  &:hover {
    border: .1em solid $fg;
    border-radius: 0;
  }
}

.Island:not(.hidden) {
  background-color: $bg;
  // border-radius: $radius;
  // padding: .1em .7em;
  padding: 0em .4em;
}

window.Bar {
  background: transparent;
  font-family: "Jetbrains Mono";
  color: $fg;

  .Time {
    font-weight: bold;
    font-size: .7em;
  }

  >centerbox {
    padding: 0 $side-margins;
    // margin: .3em 0;
    background: $bg;
  }

  .LeftBox {
    min-width: 10em;
  }

  .Workspaces {
    button {
      all: unset;
      background-color: $fg;
      border-radius: .6em;

      min-height: .7em;
      min-width: .7em;
      margin: .3em 0;
      padding: 0;

      transition: min-width $animation-speed ease, background-color $animation-speed ease;

      &.focused {
        background-color: gtkalpha($fg, .7);
        min-width: 1.5em;
      }
    }
    button ~ button {
      margin-left: .2em;
    }
  }

  .SysTray {
    margin-left: 1em;
    button ~ button {
      margin-left: .2em;
    }
  }

  .SysBox {
    min-width: 4em;
  }
}

window.ControlCenter {
  background: transparent;
  font-family: "Jetbrains Mono";
  color: $fg;

  >revealer {
    >box {
      min-width: 17em;
      min-height: 20em;
      border-radius: $radius;
      background-color: $bg;
    }
  }

  .Slider {
    * {
      all:unset;
    }

    & {
      margin: 0 1em;
      margin-top: 1em;
    }

    icon {
      color: $slider-color;
      margin-right: .3em;
      font-size: 1.5em;
    }

    trough {
      background-color: gtkalpha($fg, .2);
      border-radius: $radius;
    }

    highlight {
      min-height: .5em;
      border-radius: $radius;
    }

    slider {
      background-color: $slider-color;
      border-radius: $radius;
    }
  }

  .Slider:not(.grayed) highlight {
    background-color: $slider-color;
  }
  .Slider.grayed highlight {
    background-color: gtkalpha($slider-color, .4);
  }

  .ButtonBox {
    & {
      margin: 1em;
    }

    button {
      background-color: gtkalpha($fg, .2);
      border-radius: 5em;
      padding: .5em;

      icon {
        font-size: 1.5em;
      }
    }

    box ~ box {
      margin-left: 1.5em;
    }
  }
}

window.OSD {
  .progress {
    >centerbox {
      & {
        padding: .5em 1em;
        min-width: 10em;
        background-color: $bg;
        border-radius: $radius;
        opacity: 1;
      }

      icon {
        font-size: 1.2em;
      }

      levelbar trough {
        margin: 0 .5em;
      }

      levelbar:not(.grayed) block:not(.empty) {
        background-color: $fg;

      }
      levelbar.grayed block:not(.empty) {
        background-color: gtkalpha($fg, .4);
      }

      label {
        font-family: "Jetbrains Mono";
        font-weight: bold;
        color: $fg;
      }
    }
    >icon {
      opacity: 0;
    }
  }
}
