@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg: #{"@theme_fg_color"};
$bg: #{"@theme_bg_color"};
$accent: #{"@theme_accent_color"};

$slider-color: $fg;

$animation-speed: 200ms;
$side-margins: 0.5em;
$radius: 1em;

icon {
  background-color: transparent;
  color: $fg;
}

.bottom-button {
  all: unset;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-bottom: 0.05em solid transparent;
  transition: border $animation-speed ease;

  &:hover {
    border-bottom: 0.05em solid $fg;
    border-radius: 0;
  }
}

window.Bar {
  background: transparent;
  font-family: "Jetbrains Mono";
  color: $fg;

  .Time {
    font-weight: bold;
    font-size: 0.9em;
  }

  >centerbox {
    padding: 0 $side-margins;
    background: $bg;
  }

  .LeftBox {
    min-width: 16em;
  }

  .Workspaces {
    button {
      all: unset;
      background-color: $fg;
      border-radius: 0.8em;

      min-height: 0.8em;
      min-width: 0.8em;
      margin: 0.7em 0;
      padding: 0;

      transition: min-width $animation-speed ease, background-color $animation-speed ease;

      &.focused {
        background-color: gtkalpha($fg, 0.7);
        min-width: 1.5em;
      }
    }
    button ~ button {
      margin-left: 0.2em;
    }
  }

  .SysBox {
    min-width: 4em;
  }

  .SysTray {
    margin-left: 1em;
    button ~ button {
      margin-left: 0.2em;
    }
  }
}

window.ControlCenter {
  background: transparent;
  font-family: "Jetbrains Mono";
  color: $fg;

  >revealer {
    >box {
      min-width: 17em;
      min-height: 20em;
      border-radius: $radius;
      background-color: $bg;
    }
  }

  .Slider {
    * {
      all:unset;
    }

    & {
      margin: 0 1em;
      margin-top: 1em;
    }

    icon {
      color: $slider-color;
      margin-right: 0.5em;
      font-size: 1.5em;
    }

    trough {
      background-color: gtkalpha($fg, .2);
      border-radius: $radius;
    }

    highlight {
      background-color: $slider-color;
      min-height: .1em;
      border-radius: $radius;
    }
    slider {
      background-color: $slider-color;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -.2em;
    }
  }

  .ButtonBox {
    & {
      margin: 1em;
    }

    button {
      all: unset;
      background-color: gtkalpha($fg, .2);
      border-radius: 5em;
      padding: 0.5em;
      border: 0.05em solid transparent;
      transition: border $animation-speed ease;

      &:hover {
        border: 0.05em solid $fg;
      }

      icon {
        font-size: 1.5em;
      }
    }

    box ~ box {
      margin-left: 1.5em;
    }
  }
}
